<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true"/>
    <machineKey decryptionKey="14CB244A59A807CFF1CA8061DFBEEA3B79BC61BF0C499DE8"
        validationKey="012C35CEE886CF547B04C047E75BC1CA1F34F2668AC12A366AD4EBB99418816E490E5DBC1BA1C15D82D7B1037D5248254718B96E670BA61D98E489135CAADC8A"/>
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx?handler=customErrors%20section%20-%20Web.config">
      <error statusCode="404" redirect="ErrorPage.aspx?msg=404&amp;handler=customErrors%20section%20-%20Web.config"/>
    </customErrors>
  </system.web>
  <connectionStrings>
    <add name="ProspectsRepositoryConnectionString" connectionString="Data Source=RK\SQL;Initial Catalog=SMAC_GSRT;Integrated Security=true;"
      providerName="System.Data.SqlClient" />
    <add name="SMAC_GSRTConnectionString" connectionString="Data Source=VAIBHAV\SQLEXPRESS;Initial Catalog=SMAC_GSRT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
